<!DOCTYPE html>
<html>
<head>
    <title>Reply Probability Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Reply Probability Predictor</h1>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form action="/predict_reply_probability" method="POST">
        <div class="selector-container">
            <div class="selector">
                <label for="industry">Industry:</label><br>
                <select name="industry" id="industry" required>
                    {% for ind in industries %}
                        <option value="{{ ind }}">{{ ind }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="selector">
                <label for="focus">Focus:</label><br>
                <select name="focus" id="focus" required>
                    {% for f in focuses %}
                        <option value="{{ f }}">{{ f }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <br><br>
        <div class="message-container">
            <div class="message">
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="50" required>{{ message or '' }}</textarea>

                <div id="result" class="result-container" style="display: none;"></div>
                <div id="loading" style="text-align: center; color: white; margin-top: 20px; display: none;">Loading...</div>
            </div>
        </div>

        <br><br>
        <div class="input-button">
            <input type="submit" value="Predict Reply Probability">
        </div>
        
    </form>
    {% if result %}
    <div class="result-container">
            <h2>Result:</h2>
            <p><strong>Predicted Reply Probability: {{ result.reply_probability }}</strong></p>
        </div>
    {% endif %}

</body>
</html>